* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
h1 {
    font-size: 5rem;
    color: blueviolet;
}
.counter-app {
    width: 30rem;
    height: 40rem;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.count {
    font-size: 10rem;
    color: blueviolet;
}

.operation {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 4rem;
}

.add {
    background-color: green;
}
.sub {
    background-color: red;
}
.button {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    border:none;
    color: white;
}

.reset {
    padding: 1rem 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-size: 3rem;
    text-transform: uppercase;
    border:none;
}

.button:hover, .reset:hover {
    cursor: pointer;

}